In [49]:
import pyspark as ps
from pyspark.sql.functions import year, month
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

"Libraries imported"

'Libraries imported'

# Loading Spark Pointer

In [4]:
sc = ps.SparkContext.getOrCreate()
type(sc)

pyspark.context.SparkContext

# Parallelizing data : Example

In [5]:
myList = [i for i in range(20) if i%2 == 0]

parallelized_myList = sc.parallelize(myList)
parallelized_myList

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:262

# Reading .CSV file

In [17]:
file_name = "AMZN.csv"

amzn_rdd = sc.textFile(file_name)
type(amzn_rdd)

pyspark.rdd.RDD

In [18]:
amzn_rdd.take(4)

['Date,Open,High,Low,Close,AdjClose,Volume',
 '2019-07-15,2021.400024,2022.900024,2001.550049,2020.989990,2020.989990,2981300',
 '2019-07-16,2010.579956,2026.319946,2001.219971,2009.900024,2009.900024,2618200',
 '2019-07-17,2007.050049,2012.000000,1992.030029,1992.030029,1992.030029,2558800']

In [19]:
#to make them into columns
amzn_rdd_CSV = amzn_rdd.map(lambda r:r.split(","))
amzn_rdd_CSV

PythonRDD[14] at RDD at PythonRDD.scala:53

In [20]:
#displays in list format
amzn_rdd_CSV.collect()

[['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume'],
 ['2019-07-15',
  '2021.400024',
  '2022.900024',
  '2001.550049',
  '2020.989990',
  '2020.989990',
  '2981300'],
 ['2019-07-16',
  '2010.579956',
  '2026.319946',
  '2001.219971',
  '2009.900024',
  '2009.900024',
  '2618200'],
 ['2019-07-17',
  '2007.050049',
  '2012.000000',
  '1992.030029',
  '1992.030029',
  '1992.030029',
  '2558800'],
 ['2019-07-18',
  '1980.010010',
  '1987.500000',
  '1951.550049',
  '1977.900024',
  '1977.900024',
  '3504300'],
 ['2019-07-19',
  '1991.209961',
  '1996.000000',
  '1962.229980',
  '1964.520020',
  '1964.520020',
  '3185600'],
 ['2019-07-22',
  '1971.140015',
  '1989.000000',
  '1958.260010',
  '1985.630005',
  '1985.630005',
  '2900000'],
 ['2019-07-23',
  '1995.989990',
  '1997.790039',
  '1973.130005',
  '1994.489990',
  '1994.489990',
  '2703500'],
 ['2019-07-24',
  '1969.300049',
  '2001.300049',
  '1965.869995',
  '2000.810059',
  '2000.810059',
  '2631300'],
 ['2019-07-25',
  '2001.000000',
  '2001.199951',
  '1972.719971',
  '1973.819946',
  '1973.819946',
  '4136500'],
 ['2019-07-26',
  '1942.000000',
  '1950.900024',
  '1924.510010',
  '1943.050049',
  '1943.050049',
  '4927100'],
 ['2019-07-29',
  '1930.000000',
  '1932.229980',
  '1890.540039',
  '1912.449951',
  '1912.449951',
  '4493200'],
 ['2019-07-30',
  '1891.119995',
  '1909.890015',
  '1883.479980',
  '1898.530029',
  '1898.530029',
  '2910900'],
 ['2019-07-31',
  '1898.109985',
  '1899.550049',
  '1849.439941',
  '1866.780029',
  '1866.780029',
  '4470700'],
 ['2019-08-01',
  '1871.719971',
  '1897.920044',
  '1844.010010',
  '1855.319946',
  '1855.319946',
  '4713300'],
 ['2019-08-02',
  '1845.069946',
  '1846.359985',
  '1808.020020',
  '1823.239990',
  '1823.239990',
  '4956200'],
 ['2019-08-05',
  '1770.219971',
  '1788.670044',
  '1748.780029',
  '1765.130005',
  '1765.130005',
  '6058200'],
 ['2019-08-06',
  '1792.229980',
  '1793.770020',
  '1753.400024',
  '1787.829956',
  '1787.829956',
  '5070300'],
 ['2019-08-07',
  '1773.989990',
  '1798.930054',
  '1757.000000',
  '1793.400024',
  '1793.400024',
  '4526900'],
 ['2019-08-08',
  '1806.000000',
  '1834.260010',
  '1798.109985',
  '1832.890015',
  '1832.890015',
  '3701200'],
 ['2019-08-09',
  '1828.949951',
  '1831.089966',
  '1802.219971',
  '1807.579956',
  '1807.579956',
  '2879800'],
 ['2019-08-12',
  '1795.989990',
  '1800.979980',
  '1777.000000',
  '1784.920044',
  '1784.920044',
  '2905500'],
 ['2019-08-13',
  '1783.000000',
  '1831.739990',
  '1780.000000',
  '1824.339966',
  '1824.339966',
  '3994000'],
 ['2019-08-14',
  '1793.010010',
  '1795.650024',
  '1757.219971',
  '1762.959961',
  '1762.959961',
  '4893600'],
 ['2019-08-15',
  '1781.989990',
  '1788.000000',
  '1761.959961',
  '1776.119995',
  '1776.119995',
  '3759100'],
 ['2019-08-16',
  '1792.890015',
  '1802.910034',
  '1784.550049',
  '1792.569946',
  '1792.569946',
  '3018000'],
 ['2019-08-19',
  '1818.079956',
  '1826.000000',
  '1812.609985',
  '1816.119995',
  '1816.119995',
  '2816300'],
 ['2019-08-20',
  '1814.500000',
  '1816.819946',
  '1799.880005',
  '1801.380005',
  '1801.380005',
  '1929500'],
 ['2019-08-21',
  '1819.390015',
  '1829.579956',
  '1815.000000',
  '1823.540039',
  '1823.540039',
  '2031800'],
 ['2019-08-22',
  '1828.000000',
  '1829.410034',
  '1800.099976',
  '1804.660034',
  '1804.660034',
  '2653500'],
 ['2019-08-23',
  '1793.030029',
  '1804.900024',
  '1745.229980',
  '1749.619995',
  '1749.619995',
  '5270800'],
 ['2019-08-26',
  '1766.910034',
  '1770.000000',
  '1743.510010',
  '1768.869995',
  '1768.869995',
  '3080000'],
 ['2019-08-27',
  '1775.729980',
  '1779.400024',
  '1746.680054',
  '1761.829956',
  '1761.829956',
  '3019700'],
 ['2019-08-28',
  '1755.000000',
  '1767.859985',
  '1744.050049',
  '1764.250000',
  '1764.250000',
  '2419700'],
 ['2019-08-29',
  '1783.000000',
  '1798.550049',
  '1777.250000',
  '1786.400024',
  '1786.400024',
  '3015100'],
 ['2019-08-30',
  '1797.489990',
  '1799.739990',
  '1764.569946',
  '1776.290039',
  '1776.290039',
  '3058700'],
 ['2019-09-03',
  '1770.000000',
  '1800.800049',
  '1768.000000',
  '1789.839966',
  '1789.839966',
  '3543000'],
 ['2019-09-04',
  '1805.000000',
  '1807.630005',
  '1796.229980',
  '1800.619995',
  '1800.619995',
  '2324100'],
 ['2019-09-05',
  '1821.949951',
  '1842.000000',
  '1815.579956',
  '1840.719971',
  '1840.719971',
  '3310800'],
 ['2019-09-06',
  '1838.219971',
  '1840.650024',
  '1826.400024',
  '1833.510010',
  '1833.510010',
  '2496900'],
 ['2019-09-09',
  '1841.000000',
  '1850.000000',
  '1824.609985',
  '1831.349976',
  '1831.349976',
  '2999500'],
 ['2019-09-10',
  '1822.750000',
  '1825.810059',
  '1805.339966',
  '1820.550049',
  '1820.550049',
  '2613900'],
 ['2019-09-11',
  '1812.140015',
  '1833.420044',
  '1809.079956',
  '1822.989990',
  '1822.989990',
  '2432800'],
 ['2019-09-12',
  '1837.630005',
  '1853.660034',
  '1834.280029',
  '1843.550049',
  '1843.550049',
  '2823500'],
 ['2019-09-13',
  '1842.010010',
  '1846.119995',
  '1835.170044',
  '1839.339966',
  '1839.339966',
  '1971300'],
 ['2019-09-16',
  '1824.020020',
  '1825.689941',
  '1800.199951',
  '1807.839966',
  '1807.839966',
  '3675500'],
 ['2019-09-17',
  '1807.079956',
  '1823.989990',
  '1804.099976',
  '1822.550049',
  '1822.550049',
  '1982400'],
 ['2019-09-18',
  '1817.040039',
  '1822.060059',
  '1795.500000',
  '1817.459961',
  '1817.459961',
  '2505600'],
 ['2019-09-19',
  '1821.020020',
  '1832.569946',
  '1817.900024',
  '1821.500000',
  '1821.500000',
  '2031500'],
 ['2019-09-20',
  '1821.709961',
  '1830.630005',
  '1780.920044',
  '1794.160034',
  '1794.160034',
  '5341900'],
 ['2019-09-23',
  '1777.000000',
  '1792.699951',
  '1767.319946',
  '1785.300049',
  '1785.300049',
  '2922300'],
 ['2019-09-24',
  '1790.609985',
  '1795.709961',
  '1735.550049',
  '1741.609985',
  '1741.609985',
  '4616000'],
 ['2019-09-25',
  '1747.359985',
  '1773.000000',
  '1723.000000',
  '1768.329956',
  '1768.329956',
  '3493200'],
 ['2019-09-26',
  '1762.790039',
  '1763.369995',
  '1731.500000',
  '1739.839966',
  '1739.839966',
  '3536800'],
 ['2019-09-27',
  '1748.000000',
  '1749.119995',
  '1713.819946',
  '1725.449951',
  '1725.449951',
  '3907200'],
 ['2019-09-30',
  '1726.989990',
  '1737.459961',
  '1709.219971',
  '1735.910034',
  '1735.910034',
  '2644700'],
 ['2019-10-01',
  '1746.000000',
  '1755.599976',
  '1728.410034',
  '1735.650024',
  '1735.650024',
  '3084500'],
 ['2019-10-02',
  '1727.739990',
  '1728.890015',
  '1705.000000',
  '1713.229980',
  '1713.229980',
  '3301100'],
 ['2019-10-03',
  '1713.000000',
  '1725.000000',
  '1685.060059',
  '1724.420044',
  '1724.420044',
  '3468200'],
 ['2019-10-04',
  '1726.020020',
  '1740.579956',
  '1719.229980',
  '1739.650024',
  '1739.650024',
  '2471900'],
 ['2019-10-07',
  '1731.630005',
  '1747.829956',
  '1723.699951',
  '1732.660034',
  '1732.660034',
  '2154700'],
 ['2019-10-08',
  '1722.489990',
  '1727.000000',
  '1705.000000',
  '1705.510010',
  '1705.510010',
  '2542000'],
 ['2019-10-09',
  '1719.609985',
  '1729.949951',
  '1714.359985',
  '1721.989990',
  '1721.989990',
  '2043500'],
 ['2019-10-10',
  '1725.239990',
  '1738.290039',
  '1713.750000',
  '1720.260010',
  '1720.260010',
  '2575200'],
 ['2019-10-11',
  '1742.920044',
  '1745.449951',
  '1729.859985',
  '1731.920044',
  '1731.920044',
  '3255000'],
 ['2019-10-14',
  '1728.910034',
  '1741.890015',
  '1722.000000',
  '1736.430054',
  '1736.430054',
  '1910200'],
 ['2019-10-15',
  '1742.140015',
  '1776.449951',
  '1740.619995',
  '1767.380005',
  '1767.380005',
  '3111700'],
 ['2019-10-16',
  '1773.329956',
  '1786.239990',
  '1770.520020',
  '1777.430054',
  '1777.430054',
  '2763400'],
 ['2019-10-17',
  '1796.489990',
  '1798.849976',
  '1782.020020',
  '1787.479980',
  '1787.479980',
  '2647400'],
 ['2019-10-18',
  '1787.800049',
  '1793.979980',
  '1749.199951',
  '1757.510010',
  '1757.510010',
  '3362500'],
 ['2019-10-21',
  '1769.660034',
  '1785.880005',
  '1765.000000',
  '1785.660034',
  '1785.660034',
  '2130400'],
 ['2019-10-22',
  '1788.150024',
  '1789.780029',
  '1762.000000',
  '1765.729980',
  '1765.729980',
  '2111700'],
 ['2019-10-23',
  '1761.300049',
  '1770.050049',
  '1742.000000',
  '1762.170044',
  '1762.170044',
  '2138200'],
 ['2019-10-24',
  '1771.089966',
  '1788.339966',
  '1760.270020',
  '1780.780029',
  '1780.780029',
  '4446100'],
 ['2019-10-25',
  '1697.550049',
  '1764.209961',
  '1695.000000',
  '1761.329956',
  '1761.329956',
  '9626400'],
 ['2019-10-28',
  '1748.060059',
  '1778.699951',
  '1742.500000',
  '1777.079956',
  '1777.079956',
  '3708900'],
 ['2019-10-29',
  '1774.810059',
  '1777.000000',
  '1755.810059',
  '1762.709961',
  '1762.709961',
  '2276900'],
 ['2019-10-30',
  '1760.239990',
  '1782.380005',
  '1759.119995',
  '1779.989990',
  '1779.989990',
  '2449400'],
 ['2019-10-31',
  '1775.989990',
  '1792.000000',
  '1771.479980',
  '1776.660034',
  '1776.660034',
  '2781200'],
 ['2019-11-01',
  '1788.010010',
  '1797.449951',
  '1785.209961',
  '1791.439941',
  '1791.439941',
  '2790400'],
 ['2019-11-04',
  '1801.010010',
  '1815.060059',
  '1801.010010',
  '1804.660034',
  '1804.660034',
  '2771900'],
 ['2019-11-05',
  '1809.160034',
  '1810.250000',
  '1794.000000',
  '1801.709961',
  '1801.709961',
  '1885500'],
 ['2019-11-06',
  '1801.000000',
  '1802.500000',
  '1788.579956',
  '1795.770020',
  '1795.770020',
  '2029800'],
 ['2019-11-07',
  '1803.760010',
  '1805.900024',
  '1783.479980',
  '1788.199951',
  '1788.199951',
  '2651100'],
 ['2019-11-08',
  '1787.890015',
  '1789.880005',
  '1774.040039',
  '1785.880005',
  '1785.880005',
  '2123300'],
 ['2019-11-11',
  '1778.000000',
  '1780.000000',
  '1767.130005',
  '1771.650024',
  '1771.650024',
  '1946000'],
 ['2019-11-12',
  '1774.660034',
  '1786.219971',
  '1771.910034',
  '1778.000000',
  '1778.000000',
  '2037600'],
 ['2019-11-13',
  '1773.390015',
  '1775.000000',
  '1747.319946',
  '1753.109985',
  '1753.109985',
  '2989500'],
 ['2019-11-14',
  '1751.430054',
  '1766.589966',
  '1749.560059',
  '1754.599976',
  '1754.599976',
  '2264800'],
 ['2019-11-15',
  '1760.050049',
  '1761.680054',
  '1732.859985',
  '1739.489990',
  '1739.489990',
  '3927600'],
 ['2019-11-18',
  '1738.300049',
  '1753.699951',
  '1722.709961',
  '1752.530029',
  '1752.530029',
  '2839500'],
 ['2019-11-19',
  '1756.989990',
  '1760.680054',
  '1743.030029',
  '1752.790039',
  '1752.790039',
  '2270800'],
 ['2019-11-20',
  '1749.140015',
  '1762.520020',
  '1734.119995',
  '1745.530029',
  '1745.530029',
  '2790000'],
 ['2019-11-21',
  '1743.000000',
  '1746.869995',
  '1730.359985',
  '1734.709961',
  '1734.709961',
  '2662900'],
 ['2019-11-22',
  '1739.020020',
  '1746.430054',
  '1731.000000',
  '1745.719971',
  '1745.719971',
  '2479100'],
 ['2019-11-25',
  '1753.250000',
  '1777.420044',
  '1753.239990',
  '1773.839966',
  '1773.839966',
  '3486200'],
 ['2019-11-26',
  '1779.920044',
  '1797.030029',
  '1778.349976',
  '1796.939941',
  '1796.939941',
  '3181200'],
 ['2019-11-27',
  '1801.000000',
  '1824.500000',
  '1797.310059',
  '1818.510010',
  '1818.510010',
  '3025600'],
 ['2019-11-29',
  '1817.780029',
  '1824.689941',
  '1800.790039',
  '1800.800049',
  '1800.800049',
  '1923400'],
 ['2019-12-02',
  '1804.400024',
  '1805.550049',
  '1762.680054',
  '1781.599976',
  '1781.599976',
  '3925600'],
 ['2019-12-03',
  '1760.000000',
  '1772.869995',
  '1747.229980',
  '1769.959961',
  '1769.959961',
  '3380900'],
 ['2019-12-04',
  '1774.010010',
  '1789.089966',
  '1760.219971',
  '1760.689941',
  '1760.689941',
  '2670100'],
 ['2019-12-05',
  '1763.500000',
  '1763.500000',
  '1740.000000',
  '1740.479980',
  '1740.479980',
  '2823800'],
 ['2019-12-06',
  '1751.199951',
  '1754.400024',
  '1740.130005',
  '1751.599976',
  '1751.599976',
  '3117400'],
 ['2019-12-09',
  '1750.660034',
  '1766.890015',
  '1745.609985',
  '1749.510010',
  '1749.510010',
  '2442800'],
 ['2019-12-10',
  '1747.400024',
  '1750.670044',
  '1735.000000',
  '1739.209961',
  '1739.209961',
  '2514300'],
 ['2019-12-11',
  '1741.670044',
  '1750.000000',
  '1735.709961',
  '1748.719971',
  '1748.719971',
  '2097600'],
 ['2019-12-12',
  '1750.000000',
  '1764.000000',
  '1745.439941',
  '1760.329956',
  '1760.329956',
  '3095900'],
 ['2019-12-13',
  '1765.000000',
  '1768.989990',
  '1755.000000',
  '1760.939941',
  '1760.939941',
  '2745700'],
 ['2019-12-16',
  '1767.000000',
  '1769.500000',
  '1757.050049',
  '1769.209961',
  '1769.209961',
  '3145200'],
 ['2019-12-17',
  '1778.010010',
  '1792.000000',
  '1777.390015',
  '1790.660034',
  '1790.660034',
  '3644400'],
 ['2019-12-18',
  '1795.020020',
  '1798.199951',
  '1782.359985',
  '1784.030029',
  '1784.030029',
  '3351400'],
 ['2019-12-19',
  '1780.500000',
  '1792.989990',
  '1774.060059',
  '1792.280029',
  '1792.280029',
  '2652800'],
 ['2019-12-20',
  '1799.619995',
  '1802.969971',
  '1782.449951',
  '1786.500000',
  '1786.500000',
  '5150800'],
 ['2019-12-23',
  '1788.260010',
  '1793.000000',
  '1784.510010',
  '1793.000000',
  '1793.000000',
  '2136400'],
 ['2019-12-24',
  '1793.810059',
  '1795.569946',
  '1787.579956',
  '1789.209961',
  '1789.209961',
  '881300'],
 ['2019-12-26',
  '1801.010010',
  '1870.459961',
  '1799.500000',
  '1868.770020',
  '1868.770020',
  '6005400'],
 ['2019-12-27',
  '1882.920044',
  '1901.400024',
  '1866.010010',
  '1869.800049',
  '1869.800049',
  '6186600'],
 ['2019-12-30',
  '1874.000000',
  '1884.000000',
  '1840.619995',
  '1846.890015',
  '1846.890015',
  '3674700'],
 ['2019-12-31',
  '1842.000000',
  '1853.260010',
  '1832.229980',
  '1847.839966',
  '1847.839966',
  '2506500'],
 ['2020-01-02',
  '1875.000000',
  '1898.010010',
  '1864.150024',
  '1898.010010',
  '1898.010010',
  '4029000'],
 ['2020-01-03',
  '1864.500000',
  '1886.199951',
  '1864.500000',
  '1874.969971',
  '1874.969971',
  '3764400'],
 ['2020-01-06',
  '1860.000000',
  '1903.689941',
  '1860.000000',
  '1902.880005',
  '1902.880005',
  '4061800'],
 ['2020-01-07',
  '1904.500000',
  '1913.890015',
  '1892.040039',
  '1906.859985',
  '1906.859985',
  '4044900'],
 ['2020-01-08',
  '1898.040039',
  '1911.000000',
  '1886.439941',
  '1891.969971',
  '1891.969971',
  '3508000'],
 ['2020-01-09',
  '1909.890015',
  '1917.819946',
  '1895.800049',
  '1901.050049',
  '1901.050049',
  '3167300'],
 ['2020-01-10',
  '1905.369995',
  '1906.939941',
  '1880.000000',
  '1883.160034',
  '1883.160034',
  '2853700'],
 ['2020-01-13',
  '1891.310059',
  '1898.000000',
  '1880.800049',
  '1891.300049',
  '1891.300049',
  '2780800'],
 ['2020-01-14',
  '1885.880005',
  '1887.109985',
  '1858.550049',
  '1869.439941',
  '1869.439941',
  '3440900'],
 ['2020-01-15',
  '1872.250000',
  '1878.859985',
  '1855.089966',
  '1862.020020',
  '1862.020020',
  '2896600'],
 ['2020-01-16',
  '1882.989990',
  '1885.589966',
  '1866.020020',
  '1877.939941',
  '1877.939941',
  '2659500'],
 ['2020-01-17',
  '1885.890015',
  '1886.640015',
  '1857.250000',
  '1864.719971',
  '1864.719971',
  '3997300'],
 ['2020-01-21',
  '1865.000000',
  '1894.270020',
  '1860.000000',
  '1892.000000',
  '1892.000000',
  '3707800'],
 ['2020-01-22',
  '1896.089966',
  '1902.500000',
  '1883.339966',
  '1887.459961',
  '1887.459961',
  '3216300'],
 ['2020-01-23',
  '1885.109985',
  '1889.979980',
  '1872.760010',
  '1884.579956',
  '1884.579956',
  '2484600'],
 ['2020-01-24',
  '1891.369995',
  '1894.989990',
  '1847.439941',
  '1861.640015',
  '1861.640015',
  '3766200'],
 ['2020-01-27',
  '1820.000000',
  '1841.000000',
  '1815.339966',
  '1828.339966',
  '1828.339966',
  '3528500'],
 ['2020-01-28',
  '1840.500000',
  '1858.109985',
  '1830.020020',
  '1853.250000',
  '1853.250000',
  '2808000'],
 ['2020-01-29',
  '1864.000000',
  '1874.750000',
  '1855.020020',
  '1858.000000',
  '1858.000000',
  '2088000'],
 ['2020-01-30',
  '1858.000000',
  '1872.869995',
  '1850.609985',
  '1870.680054',
  '1870.680054',
  '6327400'],
 ['2020-01-31',
  '2051.469971',
  '2055.719971',
  '2002.270020',
  '2008.719971',
  '2008.719971',
  '15567300'],
 ['2020-02-03',
  '2010.599976',
  '2048.500000',
  '2000.250000',
  '2004.199951',
  '2004.199951',
  '5899100'],
 ['2020-02-04',
  '2029.880005',
  '2059.800049',
  '2015.369995',
  '2049.669922',
  '2049.669922',
  '5289300'],
 ['2020-02-05',
  '2071.020020',
  '2071.020020',
  '2032.000000',
  '2039.869995',
  '2039.869995',
  '4376200'],
 ['2020-02-06',
  '2041.020020',
  '2056.300049',
  '2024.800049',
  '2050.229980',
  '2050.229980',
  '3183000'],
 ['2020-02-07',
  '2041.989990',
  '2098.530029',
  '2038.099976',
  '2079.280029',
  '2079.280029',
  '5095300'],
 ['2020-02-10',
  '2085.010010',
  '2135.600098',
  '2084.959961',
  '2133.909912',
  '2133.909912',
  '5056200'],
 ['2020-02-11',
  '2150.899902',
  '2185.949951',
  '2136.000000',
  '2150.800049',
  '2150.800049',
  '5746000'],
 ['2020-02-12',
  '2163.199951',
  '2180.250000',
  '2155.290039',
  '2160.000000',
  '2160.000000',
  '3334300'],
 ['2020-02-13',
  '2144.989990',
  '2170.280029',
  '2142.000000',
  '2149.870117',
  '2149.870117',
  '3031800'],
 ['2020-02-14',
  '2155.679932',
  '2159.040039',
  '2125.889893',
  '2134.870117',
  '2134.870117',
  '2606200'],
 ['2020-02-18',
  '2125.020020',
  '2166.070068',
  '2124.110107',
  '2155.669922',
  '2155.669922',
  '2945600'],
 ['2020-02-19',
  '2167.800049',
  '2185.100098',
  '2161.120117',
  '2170.219971',
  '2170.219971',
  '2561200'],
 ['2020-02-20',
  '2173.070068',
  '2176.790039',
  '2127.449951',
  '2153.100098',
  '2153.100098',
  '3131300'],
 ['2020-02-21',
  '2142.149902',
  '2144.550049',
  '2088.000000',
  '2095.969971',
  '2095.969971',
  '4646300'],
 ['2020-02-24',
  '2003.180054',
  '2039.300049',
  '1987.969971',
  '2009.290039',
  '2009.290039',
  '6547000'],
 ['2020-02-25',
  '2026.420044',
  '2034.599976',
  '1958.420044',
  '1972.739990',
  '1972.739990',
  '6219100'],
 ['2020-02-26',
  '1970.280029',
  '2014.670044',
  '1960.449951',
  '1979.589966',
  '1979.589966',
  '5224600'],
 ['2020-02-27',
  '1934.380005',
  '1975.000000',
  '1882.760010',
  '1884.300049',
  '1884.300049',
  '8112100'],
 ['2020-02-28',
  '1814.630005',
  '1889.760010',
  '1811.130005',
  '1883.750000',
  '1883.750000',
  '9493800'],
 ['2020-03-02',
  '1906.489990',
  '1954.510010',
  '1870.000000',
  '1953.949951',
  '1953.949951',
  '6761700'],
 ['2020-03-03',
  '1975.369995',
  '1996.329956',
  '1888.089966',
  '1908.989990',
  '1908.989990',
  '7534500'],
 ['2020-03-04',
  '1946.569946',
  '1978.000000',
  '1922.000000',
  '1975.829956',
  '1975.829956',
  '4772900'],
 ['2020-03-05',
  '1933.000000',
  '1960.719971',
  '1910.000000',
  '1924.030029',
  '1924.030029',
  '4748200'],
 ['2020-03-06',
  '1875.000000',
  '1910.869995',
  '1869.500000',
  '1901.089966',
  '1901.089966',
  '5273600'],
 ['2020-03-09',
  '1773.859985',
  '1862.770020',
  '1761.290039',
  '1800.609985',
  '1800.609985',
  '7813200'],
 ['2020-03-10',
  '1870.880005',
  '1894.270020',
  '1818.170044',
  '1891.819946',
  '1891.819946',
  '7133300'],
 ['2020-03-11',
  '1857.849976',
  '1871.319946',
  '1801.500000',
  '1820.859985',
  '1820.859985',
  '5624800'],
 ['2020-03-12',
  '1721.979980',
  '1765.000000',
  '1675.000000',
  '1676.609985',
  '1676.609985',
  '11346200'],
 ['2020-03-13',
  '1755.000000',
  '1786.310059',
  '1680.619995',
  '1785.000000',
  '1785.000000',
  '8809700'],
 ['2020-03-16',
  '1641.510010',
  '1759.449951',
  '1626.030029',
  '1689.150024',
  '1689.150024',
  '8917300'],
 ['2020-03-17',
  '1775.469971',
  '1857.780029',
  '1689.239990',
  '1807.839966',
  '1807.839966',
  '10917100'],
 ['2020-03-18',
  '1750.000000',
  '1841.660034',
  '1745.000000',
  '1830.000000',
  '1830.000000',
  '9645200'],
 ['2020-03-19',
  '1860.000000',
  '1945.000000',
  '1832.650024',
  '1880.930054',
  '1880.930054',
  '10399900'],
 ['2020-03-20',
  '1926.310059',

# Another way to load csv into pandas df

In [26]:
#create an entry point for SQLContext
sqlContext = ps.sql.SQLContext(sc)
type(sqlContext)

pyspark.sql.context.SQLContext

In [28]:
#load csv -syntax
sqlContext.read.load(file_name, 
                              format = 'com.databricks.spark.csv',
                              header = 'true',
                              inferSchema = 'true')

DataFrame[Date: string, Open: double, High: double, Low: double, Close: double, AdjClose: double, Volume: int]

In [45]:
#now let's pipeline this process
files = ["AMZN.csv","GOOG.csv","TSLA.csv"]

def load_file(file_name):
    format_str = 'com.databricks.spark.csv'
    return sqlContext.read.load( file_name, 
                               format = format_str,
                               header = 'true',
                               inferSchema = 'true')

amazon_df = load_file(files[0])
google_df = load_file(files[1])
tesla_df = load_file(files[2])
google_df.printSchema() #woaah, that's um.. okay

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- AdjClose: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [36]:
#print a few rows
amazon_df.take(2)

[Row(Date='2019-07-15', Open=2021.400024, High=2022.900024, Low=2001.550049, Close=2020.98999, AdjClose=2020.98999, Volume=2981300),
 Row(Date='2019-07-16', Open=2010.579956, High=2026.319946, Low=2001.219971, Close=2009.900024, AdjClose=2009.900024, Volume=2618200)]

In [46]:
#print number of rows
google_df.count()

201

In [38]:
#printing a cleaner version of take
amazon_df.show(2)

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 2 rows

In [55]:
#and to print a more fimiliar format
google_df.toPandas().head(4)

,Date,Open,High,Low,Close,AdjClose,Volume
0,2019-09-26,1241.959961,1245.00000,1232.267944,1241.390015,1241.390015,1538000
1,2019-09-27,1243.010010,1244.02002,1214.449951,1225.089966,1225.089966,1353900
2,2019-09-30,1220.969971,1226.00000,1212.300049,1219.000000,1219.000000,1404100
3,2019-10-01,1219.000000,1231.22998,1203.579956,1205.099976,1205.099976,1273500

In [57]:
#selecting stuff for viewing. NOTE: no grouping is done here, so chill
google_df.select(year("Date").alias("Year"),"High","Close").show()

+----+-----------+-----------+
|Year|       High|      Close|
+----+-----------+-----------+
|2019|     1245.0|1241.390015|
|2019| 1244.02002|1225.089966|
|2019|     1226.0|     1219.0|
|2019| 1231.22998|1205.099976|
|2019| 1196.97998|1176.630005|
|2019|1189.060059|1187.829956|
|2019|1211.439941|     1209.0|
|2019|1218.203979|1207.680054|
|2019|1206.079956|1189.130005|
|2019|1208.349976|1202.310059|
|2019|     1215.0|1208.670044|
|2019|1228.390015|1215.449951|
|2019|1226.329956|1217.140015|
|2019|1247.329956| 1243.01001|
|2019| 1254.73999|1243.640015|
|2019|1263.324951|1253.069946|
|2019|1258.890015| 1245.48999|
|2019|1254.629028|1246.150024|
|2019|1250.599976|1242.800049|
|2019|1259.890015|1259.130005|
+----+-----------+-----------+
only showing top 20 rows

In [67]:
#if you want to group'em by year
google_df.select(year("Date").alias("Year"),"High","Close").groupby("Year").avg("Close").show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2019|1287.7858249402982|
|2020|1360.5085199242424|
+----+------------------+

# Using SparkSQL

In [68]:
#register dataframes into tables
amazon_df.registerTempTable("amazon_stocks")
google_df.registerTempTable("google_stocks")
tesla_df.registerTempTable("tesla_stocks")
"Temporary Tables Registered"

'Temporary Tables Registered'

In [69]:
#using sql with Spark
query="SELECT * FROM tesla_stocks"
sqlContext.sql(query).show(5)

+----------+----------+----------+----------+----------+----------+--------+
|      Date|      Open|      High|       Low|     Close|  AdjClose|  Volume|
+----------+----------+----------+----------+----------+----------+--------+
|2019-07-15|     248.0|254.419998|244.860001|     253.5|     253.5|11000100|
|2019-07-16|249.300003|253.529999|247.929993|252.380005|252.380005| 8149000|
|2019-07-17|255.669998|258.309998|253.350006|254.860001|254.860001| 9764700|
|2019-07-18|255.050003|    255.75|251.889999|253.539993|253.539993| 4764500|
|2019-07-19|255.690002|259.959991|254.619995|258.179993|258.179993| 7048400|
+----------+----------+----------+----------+----------+----------+--------+
only showing top 5 rows

# (if-and-when-you-want-to) load ur dataframe into Parquet files

In [ ]:
#google_df.write.format("parquet").save(name+".parquet")

In [70]:
query = "SELECT * from amazon_stocks limit 3"
sqlContext.sql(query).show()

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
|2019-07-17|2007.050049|     2012.0|1992.030029|1992.030029|1992.030029|2558800|
+----------+-----------+-----------+-----------+-----------+-----------+-------+

# 1 - Find avg lowest price for amazon per month

In [74]:
query = "select year(Date) as Year, month(Date) as Month, \
                avg(Low) from amazon_stocks \
                group by Year, Month \
                order by Year, Month"
sqlContext.sql(query).show()

+----+-----+------------------+
|Year|Month|          avg(Low)|
+----+-----+------------------+
|2019|    7|1948.1946176153847|
|2019|    8|1778.2340920454546|
|2019|    9|     1784.68599235|
|2019|   10|1736.6047840869564|
|2019|   11|1764.3005004499998|
|2019|   12|1773.8466622380954|
|2020|    1| 1870.354288809524|
|2020|    2|2045.0563194210524|
|2020|    3|1825.1590964090908|
|2020|    4|2185.9347679523808|
|2020|    5|     2364.48549805|
|2020|    6| 2579.099553909091|
|2020|    7|2976.1799859999996|
+----+-----+------------------+

# 2 - When did the closing price of Google go either up or down more than $20 in a day?

In [88]:
query = "Select Date, Open, Close, abs(Close - Open) as Difference \
                from google_stocks \
                where abs(Close - Open) > 20 order by Difference"
sqlContext.sql(query).show()

+----------+-----------+-----------+------------------+
|      Date|       Open|      Close|        Difference|
+----------+-----------+-----------+------------------+
|2020-04-27|     1296.0|1275.880005|20.119995000000017|
|2020-05-26| 1437.27002| 1417.02002|             20.25|
|2019-10-02| 1196.97998|1176.630005|20.349975000000086|
|2020-03-10|     1260.0|1280.390015| 20.39001499999995|
|2020-05-14| 1335.02002|1356.130005| 21.10998500000005|
|2020-04-03|1119.015015|1097.880005|21.135009999999966|
|2020-03-06|1277.060059|1298.410034|21.349975000000086|
|2020-03-30|1125.040039|1146.819946|21.779907000000094|
|2020-05-18|    1361.75|1383.939941| 22.18994100000009|
|2020-03-19|1093.050049|1115.290039|22.239990000000034|
|2020-04-02| 1098.26001|1120.839966| 22.57995600000004|
|2019-10-15|1220.400024| 1243.01001|22.609985999999935|
|2020-06-22|     1429.0|1451.859985| 22.85998500000005|
|2020-02-21|1508.030029|1485.109985| 22.92004399999996|
|2020-06-30|1390.439941|1413.609985| 23.17004399999996|
|2020-05-15|     1350.0|1373.189941| 23.18994100000009|
|2020-04-30|1324.880005|1348.660034|23.780029000000013|
|2020-02-03|     1462.0|1485.939941| 23.93994100000009|
|2020-03-25|1126.469971| 1102.48999|23.979980999999952|
|2020-04-14|1245.089966| 1269.22998|24.140014000000065|
+----------+-----------+-----------+------------------+
only showing top 20 rows

# 3 - Min and Max adjusted price per year for Tesla

In [89]:
query = "Select min(AdjClose) as Min, \
                max(AdjClose) as Max, Year(Date) as Year \
                from tesla_stocks \
                group by Year"
sqlContext.sql(query).show()

+----------+-----------+----+
|       Min|        Max|Year|
+----------+-----------+----+
|211.399994| 430.940002|2019|
|361.220001|1544.650024|2020|
+----------+-----------+----+

# 4 - Which of the companies had the highest Closing Price on December 2019 ?

In [137]:
query = "select year(tesla_stocks.Date) as Year, \
                month(tesla_stocks.Date) as Month, \
                max(tesla_stocks.Close) as TClose, \
                max(g.Close) as GClose,\
                max(a.Close) as AClose \
                from tesla_stocks \
                join google_stocks g on g.Date = tesla_stocks.Date\
                join amazon_stocks a on a.Date = tesla_stocks.Date\
                group by Year, Month having Year = '2019' \
                and Month= 12"
sqlContext.sql(query).show()

+----+-----+----------+-----------+-----------+
|Year|Month|    TClose|     GClose|     AClose|
+----+-----+----------+-----------+-----------+
|2019|   12|430.940002|1361.170044|1869.800049|
+----+-----+----------+-----------+-----------+

I guess from this table we can concur that Amazon had the highest Close Price in December 2019. I haven't yet figured out how to print the max combining these three columns 😖

# 5 - What's the difference between the highest and lowest Adjusted Closing price in the Stock Market in November 2019?

In [144]:
query = "select year(t.Date) as Year, \
                month(t.Date) as Month, \
                round(abs(max(t.AdjClose) - min(t.AdjClose))) as TDiff, \
                round(abs(max(g.AdjClose) - min(g.AdjClose))) as GDiff, \
                round(abs(max(a.AdjClose) - min(a.AdjClose))) as ADiff \
                from tesla_stocks t \
                join google_stocks g on g.Date = t.Date \
                join amazon_stocks a on a.Date = t.Date \
                group by Year, Month having Year = '2019'\
                and Month = 11"
sqlContext.sql(query).show()

+----+-----+-----+-----+-----+
|Year|Month|TDiff|GDiff|ADiff|
+----+-----+-----+-----+-----+
|2019|   11| 46.0| 61.0| 84.0|
+----+-----+-----+-----+-----+

Again, from the table we can see that Amazon has the highest difference in Adjusted CLose price in November 2019.

# 6 - For the months January 2020 to April 2020, what's the average Close Price for all the three companies?

In [149]:
query = "select year(t.Date) as Year, \
                month(t.Date) as Month, \
                round(avg(t.Close)) as Tesla_Avg, \
                round(avg(g.Close)) as Google_Avg, \
                round(avg(a.Close)) as Amazon_Avg \
                from tesla_stocks t \
                join google_stocks g on g.Date = t.Date \
                join amazon_stocks a on a.Date = t.Date \
                group by Year, Month having Year ='2020' and \
                Month in (1,2,3,4) \
                order by Month"
sqlContext.sql(query).show()

+----+-----+---------+----------+----------+
|Year|Month|Tesla_Avg|Google_Avg|Amazon_Avg|
+----+-----+---------+----------+----------+
|2020|    1|    529.0|    1437.0|    1884.0|
|2020|    2|    797.0|    1464.0|    2066.0|
|2020|    3|    559.0|    1188.0|    1872.0|
|2020|    4|    664.0|    1234.0|    2229.0|
+----+-----+---------+----------+----------+

# 7 - What's the average Open Price in the first quarter of 2020 for Tesla?

In [163]:
query = "  select Year, round(avg(Avg_Open)) as First_Quarter \
                from (select year(Date) as Year,\
                month(Date) as Month, \
                avg(Open) as Avg_Open \
                from tesla_stocks \
                group by Year, Month having Year ='2020' and \
                Month in (1,2,3,4) ) group by Year"
sqlContext.sql(query).show()

+----+-------------+
|Year|First_Quarter|
+----+-------------+
|2020|        637.0|
+----+-------------+

# 8 - What percentage of Google's average Close price did Tesla record in April 2020?

In [187]:
query = "select year(t.Date) as Year, \
                month(t.Date) as Month, \
                round(avg(t.Close)) as Tesla_avg, \
                round(avg(g.Close)) as Google_avg, \
                round((avg(t.Close) / avg(g.Close))*100.0) as Diff_percentage\
                from tesla_stocks t \
                join google_stocks g on g.Date = t.Date \
                group by Year, Month having Year = '2020' and \
                Month = 4"
sqlContext.sql(query).show()

+----+-----+---------+----------+---------------+
|Year|Month|Tesla_avg|Google_avg|Diff_percentage|
+----+-----+---------+----------+---------------+
|2020|    4|    664.0|    1234.0|           54.0|
+----+-----+---------+----------+---------------+